
.css-1lvbox2 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: rgb(234, 236, 239);
  align-items: flex-start;
  flex-direction: column;
}

.css-1px8uci {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: flex;
  flex: 1 1 0;
}

.css-10c5sb {
  box-sizing: border-box;
  margin: 0 16px 0 0;
  min-width: 0;
  width: 24px;
}

.css-1iztezc {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  color: currentcolor;
  font-size: 24px;
  fill: currentcolor;
  width: 1em;
  height: 1em;
}

.css-1pysja1 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  flex: 1 1 0;
}

.css-1a5j38j {
  box-sizing: border-box;
  margin: 0 0 8px;
  min-width: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.css-fhtmef {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgb(112, 122, 138);
}

.css-1ds054f {
  box-sizing: border-box;
  margin: 16px 0 0;
  min-width: 0;
  display: flex;
  flex: 5 1 0;
  -webkit-box-align: center;
  align-items: center;
  padding-left: 40px;
  width: 100%;
}

.css-w9d9dr {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  flex: 7 1 0;
}

.css-10nf7hq {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.css-e2t8e1 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  color: rgb(0, 192, 135);
  font-size: 16px;
  fill: rgb(0, 192, 135);
  width: 1em;
  height: 1em;
}

.css-b327i8 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  color: rgb(183, 189, 198);
  font-size: 16px;
  fill: rgb(183, 189, 198);
  width: 1em;
  height: 1em;
}

.css-eeq2ml {
  box-sizing: border-box;
  margin: 0 0 0 8px;
  min-width: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  flex: 1 1 0;
  word-break: break-all;
}

.css-kgrsce {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: flex;
  flex: 3 1 0;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.css-8iajtr {
  margin: 0;
  appearance: none;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  outline: none;
  padding: 6px 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  word-break: keep-all;
  color: rgb(30, 35, 41);
  border-radius: 4px;
  min-height: 24px;
  border: none;
  background-color: rgb(234, 236, 239);
  min-width: 80px;
}

@media screen and (min-width: 767px) {
  .css-1lvbox2 {
    padding-top: 24px;
    padding-bottom: 24px;
    align-items: flex-start;
    flex-direction: column;
  }
  .css-1px8uci {
    flex: 1 1 0;
  }
  .css-1ds054f {
    margin-top: 16px;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .css-1lvbox2 {
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
  }
  .css-1px8uci {
    flex: 7 1 0;
  }
  .css-1ds054f {
    margin-top: 0;
    width: auto;
  }
}

.css-hba76g {
  box-sizing: border-box;
  margin: 40px 0 24px;
  min-width: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

.css-1lx7oj {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  text-align: center;
}

.css-81xrsn {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.css-1imckl0 {
  box-sizing: border-box;
  margin: 10px 0;
  min-width: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.css-4cffwv {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: flex;
}

.css-key3v2 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  max-width: 100%;
}

.css-enhan1 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: flex;
  align-items: flex-end;
}

.css-1dbk341 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: flex;
  width: 484px;
  position: relative;
  max-width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 0;

  .bn-2fa-field {
    flex: 1 1 0;
  }
}

.css-1pnngcv {
  box-sizing: border-box;
  margin: 32px 0 0;
  min-width: 0;
  display: inline-flex;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  line-height: 1.6;
  border: 1px solid rgb(234, 236, 239);
  border-radius: 4px;
  height: 48px;
  background-color: transparent;
}

.css-1pnngcv input {
  color: rgb(30, 35, 41);
  font-size: 14px;
  padding-left: 12px;
  padding-right: 12px;
}

.css-16fg16t {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  outline: none;
  border: none;
  background-color: inherit;
  opacity: 1;
}

.css-1pnngcv .bn-input-suffix {
  flex-shrink: 0;
  margin-left: 4px;
  margin-right: 4px;
  font-size: 14px;
}

.css-1mme6xj {
  box-sizing: border-box;
  margin: 0 12px 0 0;
  min-width: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  color: rgb(201, 148, 0);
}

.css-1dbk341 .bn-2fa-field .bn-input-label {
  white-space: nowrap;
  font-size: 14px;
}

.css-k4png4 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  position: absolute;
  top: -32px;
  left: 0;
  line-height: 32px;
  z-index: 1;
  cursor: text;
  color: rgb(112, 122, 138);
  font-size: 14px;
}

.css-1dbk341 .bn-2fa-fieldInfo {
  margin: 5px 0;
  line-height: 16px;
  color: rgb(112, 122, 138);
  height: auto;
  text-align: left;
}

.css-15c6fsr {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  color: rgb(112, 122, 138);
}

.css-vurnku {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
}
.custom-button {
  appearance: none;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  outline: none;
  padding: 12px 24px;
  min-width: 80px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  word-break: keep-all;
}

.modal-button-cancel {
  color: rgb(30, 35, 41) !important;
  border-radius: 4px;
  min-height: 24px;
  border: none;
  background-color: rgb(234, 236, 239) !important;
  width: 100%;
}

.modal-button-cancel:hover {
  box-shadow: none !important;
}

.modal-button-ok {
  margin-left: 16px;
  color: rgb(33, 40, 51) !important;
  border-radius: 6px;
  min-height: 24px;
  border: none;
  background-image: none;
  background-color: rgb(252, 213, 53) !important;
  width: 100%;
}

.modal-button-ok:hover {
  box-shadow: none !important;
}
